#inventory {
  position: fixed;
  display: flex;
  flex-direction: column;

  padding-top: 4rem;
  padding-left: 1rem;
  z-index: inherit;
}

.inventory_item {
  width: 48px;
  height: 48px;
  background: transparent;
  border: 0;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool {
  height: 40px;
  width: 40px;
}

.tile_storage {
  height: 40px;
  width: 40px;
}

main {
  padding: 0%;
}

#gameGrid {
  margin: 0%;
  min-width: 4800px;
  height: 1440px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 48px);
  grid-template-rows: repeat(auto-fit, 48px);
}

#gameGrid > section {
  background-color: #87ceeb;
  border: black;
}

#gameGrid > section:hover {
  border: 1px solid black;
}