body {
  margin: 0%;
}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  padding-top: 1rem;
  padding-left: 1.2rem;
  gap: 0.5rem;
}

header nav,
header section {
  background-color: #a0a0a0;
  padding: 10px;
  border-radius: 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}
header a,
header button {
  display: flex;
  color: white;
  text-decoration: none;
  background-color: #a0a0a0;
  padding-right: 20px;
  padding-left: 20px;
}
header button {
  border: none;
}

#inventory {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-left: 1rem;
  z-index: inherit;
}

.inventory_item {
  width: 48px;
  height: 48px;
  background: transparent;
  border: 0;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tool {
  height: 40px;
  width: 40px;
}

.tile_storage {
  height: 40px;
  width: 40px;
}

main {
  padding: 0%;
}

#gameGrid {
  margin: 0%;
  min-width: 4800px;
  height: 1920px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 48px);
  grid-template-rows: repeat(auto-fit, 48px);
}

#gameGrid > section {
  border: black;
}

#gameGrid > section:hover {
  border: 1px solid black;
}

.sky {
  background-color: #87ceeb;
}

.ground {
  background-image: url("../Images/ground.png");
  background-size: 48px;
}

.dirt {
  background-image: url("../Images/dirt.png");
  background-size: 48px;
}

.stone {
  background-image: url("../Images/stone.png");
  background-size: 48px;
}

.bedrock {
  background-image: url("../Images/bedrock.png");
  background-size: 48px;
}

.log {
  background-image: url("../Images/oak-log.png");
  background-size: 48px;
}

.leave {
  background-image: url("../Images/oak-leaves.png");
  background-size: 48px;
}

.quantity {
  position: absolute;
  top: 0.2rem;
  right: -1rem;
  font-size: 1.5rem;
  pointer-events: none;
}
